@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Ubuntu:ital,wght@0,300;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Lobster&family=Palette+Mosaic&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

:root{
    --main-bg-color: #26a2df;
}

* {
  margin: 0;
  padding: 0;
}
header{
    background-color: var(--main-bg-color);
    font-family: "Ubuntu", sans-serif;
}

.logo{
    height: 6vh;
    background-color: var(--main-bg-color);
    color: rgb(58, 16, 92);
    /* border: 2px solid black; */
    font-family: 'Lobster', cursive;
    font-size: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 22px;
    font-size: 24px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(18, 4, 146);
    font-weight: bolder;
}

.searchbar{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar input{
    width: 319px;
    height: 20px;
    border-radius: 5px;
    margin: 1px 12px 4px 56px;
    padding: 0 12px;
}

.container{
    min-height: calc(95vh - 40px - 10vh)
}

.slider{
    margin: 12px auto;
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 90vw;
    margin: auto;
    /* background-color: bisque; */
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 28px;
}

.card h2{
    font-family: "Ubuntu", sans-serif;
}

footer {
  height: 10vh;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Ubuntu", sans-serif;
}
